<h2>You are a person <%= @person.name%>!</h2>


<form action="/person/<%= @person.id %>" method="post">
  <div class="form-type">
    <select name="mother">
      <% Person.where(sex: "female").find_each do |person|%>
        <option value="<%= person.id %>"><%= person.name %></option>
      <% end %>
    </select>
    <button class= "btn btn-warning" type="submit">Select Mother</button>
  </div>
</form>

<% if @mother != nil %>
    <h3>Your Mother is <%= @mother.name %></h3>
  <% else %>
    <h3>You do not have a mother yet</h3>
<% end %>

<% @new_relationship.each do |relationship|%>
<% person = Person.find(relationship.relationee_id) %>
<%= person.name %>
<% end%>
